<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>博主的主页</title>
<link href="img/css/main.css" type="text/css"  rel="stylesheet"/>
<link href="img/css/listpages.css" type="text/css"  rel="stylesheet"/>
<link href="img/css/blog.css" type="text/css"  rel="stylesheet"/>
<link href="img/css/createDoc.css" type="text/css"  rel="stylesheet"/>
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/createDoc.js"></script>
</head>

<body>
<div class="lmainR ofh" style="text-align:center;  height:300px; "> <img src="img/01.jpg" width="980"   /></div>
<div class="lmainR ofh" style="text-align:center;   " >
	<div class="navCard navHuh">
		<div class="m1ln nav2"><a href="index.html">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#"></a></div>
		<div class="m1ln nav2"><a  href="chagansuld.html">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#"> </a></div>
		<div class="m1ln navl"><a href="#"> </a></div>
		<div class="m1ln navl"><a href="#"> </a></div>
		<div class="m1ln navl"><a href="#"></a></div>
		<div class="m1ln nav2"><a href="nogoonsuld.html"  >  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">   </a></div>
		<div class="m1ln navl"><a href="#">   </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#"></a></div>
		<div class="m1ln nav2"><a href="alagsuld.html"  >  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#"> </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">   </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">   </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">   </a></div>
		<div class="m1ln navl"><a href="#"></a></div>
		<div class="m1ln nav2"><a href="harsuld.html"  >  </a></div>
		<div class="m1ln navl"><a href="#">   </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
	</div>
	<div class="cbt"></div>
</div>
<div class="lmainR  ">
	<div class="roundCornerFrame">
		<div class="content">
			<div class="flt" style="width:60px; height:600px; background:#def">
				<div class="label">   </div>
				<div class="label">   :</div>
				<div class="inputHolder">
					<input name="title" class="title" />
				</div>
				<div class="inputHolder">
					<select name="docchannel" id="docchannel"  >
						<option>option 1</option>
						<option>option 1</option>
						<option>   </option>
					</select>
				</div>
			</div>
			<div class="richeditBox"> </div>
			<div class="send">
				<div class="inputHolder">
					<div style=" height:5em; width:30px;"></div>
					<input type="button" value=""   />
					<div style=" height:3em; width:30px;"></div>
					<input type="button" value=" " />
				</div>
			</div>
			<div class="cbt"></div>
		</div>
	</div>
</div>
<div class="lmainR ofh" style="text-align:center;   " >
	<div class="tailCard">
		<div class="msheet" style="height:100px; width:800px;">                                                                           </div>
	</div>
	<div class="cbt"></div>
</div>
</body>
</html>
 