<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>博主的主页</title>
<link href="img/css/main.css" type="text/css"  rel="stylesheet"/>
<link href="img/css/listpages.css" type="text/css"  rel="stylesheet"/>
<link href="img/css/blog.css" type="text/css"  rel="stylesheet"/>
<link href="img/css/login.css" type="text/css"  rel="stylesheet"/>
<LINK href="jsdialog/dialog.css" type=text/css  rel=stylesheet>
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<SCRIPT src="jsdialog/dialog.js" type=text/javascript></SCRIPT>
<SCRIPT src="jsdialog/jquery.min.js" type=text/javascript></SCRIPT>
</head>

<body>


<div class="lmainR  " id="main">
	<div class="loginSheet" id="loginSheet">
		<div class="iconContainer"> </div>
		<div class="border">
			<div class="loginWindow" id="loginWindow">
				<div class="content">
					<form class="mglForm">
						<div class="label">  </div>
						<div class="label">  </div>
						<div class="label">   <a href="javascript:;"></a> :</div>
						<div class="label"><img src="img/tanison.png" width="18" height="100" /></div>
						<div class="inputHolder"><input name="name" value="hehe" /></div>
						<div class="inputHolder"><input name="password" type="password"/></div>
						<div class="inputHolder"><input name="name" value="hehe" /></div>
						<div class="inputHolder"><input name="password" type="button" value=" "/></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<H5>显示指定ID的内容</H5><PRE class="prettyprint lang-js" id=content-type-id onclick="new Dialog({type:'id',value:'loginWindow'}).show();">// 将显示本标签内的内容。
new Dialog({type:'id',value:'content-type-id'}).show();
</PRE>
</body>
</html>
<script type="text/javascript" src="img/css/mSheetAutoHeight.js"></script>