<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新建博文</title>
<link href="img/css/main.css" type="text/css"  rel="stylesheet"/>
<link href="img/css/listpages.css" type="text/css"  rel="stylesheet"/>
</head>

<body>
<div class="lmainR ofh" style="text-align:center;  height:300px; "> <img src="img/01.jpg" width="980"   /></div>
<div class="lmainR ofh" style="text-align:center;   " >
	<div class="navCard">
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#"></a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#"> </a></div>
		<div class="m1ln navl"><a href="#"> </a></div>
		<div class="m1ln navl"><a href="#"> </a></div>
		<div class="m1ln navl"><a href="#"></a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">   </a></div>
		<div class="m1ln navl"><a href="#">   </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#"></a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#"> </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">   </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">   </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">   </a></div>
		<div class="m1ln navl"><a href="#"></a></div>
		<div class="m1ln navl"><a href="#">   </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
		<div class="m1ln navl"><a href="#">  </a></div>
	</div>
	<div class="cbt"></div>
</div>
<div class="lmainR">
	<div class="  lcell" style="width:990px;">
		<div class="lcell " style="width:990px; ">
			<div class=" listSheet">
				<div class="ttl1 m1ln"><a href="#">  </a></div>
				<div style="width:948px; margin:0px  ; " class="ofh">
					<div style=" ">
						<div class="flt" style="width:680px">
							<div style="height:350px;     margin:10px;">
 								<div class="news3"><a  href="#">                  </a></div>
 								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
								<div class="news3"><a  href="#">                  </a></div>
							</div>
							<div class="cbt"></div>
							<div class=" pagenav">
								<input name="" type="button" value="|&lt;&lt;" />
								<input name="" type="button" value="&lt;&lt;" />
								<input name="" type="text" value="2" />
								<input name="" type="button" value="&gt;&gt;" />
								<input name="" type="button" value="&gt;&gt;|" />
							</div>
						</div>
						<div class="frt" style="width:260px; border:solid 1px #ccc; margin-right:5px; margin-top:5px;">
							<div class="nwsls1" style="height:auto;">
								<div class="ad"><img src="img/6.jpg" width="240"   /></div>
								<div class="ad"><img src="img/14.jpg" width="240"  /></div>
								<div class="ad"><img src="img/14.jpg" width="240"  /></div>
							</div>
						</div>
						<div class="cbt"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="lmainR ofh" style="text-align:center;   " >
	<div class="tailCard">
		<div class="msheet" style="height:100px; width:800px;">                                                                           </div>
	</div>
	<div class="cbt"></div>
</div>
</body>
</html>
