A:link{
	text-decoration:none;
	color:#401d01;
	} 
A:visited{
	text-decoration:none;
	color:#401d01;
	} 
A:hover{
	text-decoration:none;
	color:#f4d78b;
	} 

A.hg:link{
	text-decoration:none;
	color:#401d01;
	} 
A.hg:visited{
	text-decoration:none;
	color:#401d01;
	} 
A.hg:hover{
	text-decoration:none;
	color:#50abb4;
	} 

A.uulagSuul:link{
	text-decoration:none;
	color:#401d01;
	} 
A.jasah:visited{
	text-decoration:none;
	color:#401d01;
	} 
A.uulagSuul:hover{
	text-decoration:none;
	color:#3f3f3f;
	} 


A.holvooSuul:link{
	text-decoration:none;
	color:#401d01;
	} 
A.holvooSuul:visited{
	text-decoration:none;
	color:#401d01;
	} 
A.holvooSuul:hover{
	text-decoration:none;
	color:#50abb4;
	} 